.wrapper {
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
}

h1 { 
    text-align: center;
}




.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
}



p {
    margin: auto;

}

.red {
    width: calc(100% / 7);
    height: 100px;
    background-color: #F0466F;
    

    
}

.green {
    width: calc(100% / 7);
    height: 100px;
    background-color: #0BD6A1;
   
   
}


.yellow {
    width: calc(100% / 7);
    height: 100px;
    background-color: #FFD166;
    

   
}


.blue {
    width: calc(100% / 7);
    height: 100px;
    background-color: #1389B2;
   

   
}
