.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}

.card {
    display: flex;
    

}


.card {
    padding: 10px;
    text-align: center;
    margin: 2rem;
}