.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}

h1 { 
    text-align: center;
}




.card {
    display: flex;
    

}


.card {
    padding: 5px;
    width: calc(100% / 7);
    height: calc(100% / 7);
    text-align: center;

}

.blue {
    background-color: #1389B2;
}